extends layout

block content
    a(href='/users/home')
        i.fas.fa-arrow-alt-circle-left
    .row
        .col-sm-3
            .card
                .card-body
                    a.btn.btn-primary(href='/users/voters') Voters registration
        .col-sm-3
            .card
                .card-body
                    a.btn.btn-primary(href='/users/candidate') Candidate Registration
        .col-sm-3
            .card
                .card-body
                    a.btn.btn-primary(href='/users/party') Party registration
    
    .row
        .col-sm-3
            .card
                .card-body
                    
                    a.btn.btn-primary(href='/users/election') Election results
        .col-sm-3
            .card
                .card-body
                    a.btn.btn-primary(href='/users/vote') Vote
        .col-sm-3
            .card
                .card-body
                    
                    a.btn.btn-primary(href='/users/logout') Log Out

    







  


  